h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: whitesmoke;

    background-color: aquamarine;
    padding: 2%;
    margin: 0;
}
h2{
    border: 0ch;
    color: black;
    text-shadow: 0cap;
    text-decoration: bisque;
    text-align: left;
}

 body{
 
    background-image:url("logo.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    

    
   }
.card container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:50px;
}


    .card{
        border:5px solid#ccc;
        padding:10px;
        margin:5px;
        witdh:calc();
        background-color:red;
        box-sizing:content-box;
@media (max-width :800px){
    .card{
        width:calc(100%-40px);}
}


p{
    color: black;
    text-transform: calc();
    text-align: left;
}

h3{
    text-decoration: underline;
    transform: rotate3d();
    color: black;
}
